*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.headerContainer{
	width: 100%;
	padding: 5px;
	text-align: center;
	color: #35485d;
}

#container
{
	width: calc(100% - 100px);
	height: 900px;
	border:5px solid gray;
	position: absolute;
	left: 50px;
	top:50px;
	margin: 0 auto;
	padding: 0;

}

#frame
{
	width: 1810px;
	height: 890px;
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
	
}

#slider
{
	width: 7000000000000px;
	height: 900px;
	position: absolute;
	left: 0px;
	top: 0px;

}
#slider > div
{
	margin-right:0;
	float: left;
	width: 1810px;
	height: 890px;
	border: 1px solid #111;
}

#slider .contentHeading{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #42b983;
}

.controles a
{
	
	color: #717171;
	display: block;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	z-index: 22222;    
	text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);	
}
#prev
{
	width: 30px;
	height: 30px;
	text-align: center;
	background: #e9e9e9;
	position: absolute;
	left: -45px;
	top:400px;
	box-shadow: 2px 2px 1px #ddd;
	border-radius: 50%;
	border: solid 2px #c0c0c0;

}

#next
{
	width: 30px;
	height: 30px;
	text-align: center;
	background: #e9e9e9;
	position: absolute;
	left: calc(100% + 20px);
	top:400px;
	box-shadow: 2px 2px 1px #ddd;
	border-radius: 50%;
	border: solid 2px #c0c0c0;
	transition: all ease-in-out;
}

#prev:active
{
	box-shadow: 1px 1px 1px #ddd;
	top: 191px;

}

#next:active
{
	box-shadow: 1px 1px 1px #ddd;
	top: 191px;
}

#arrowleft
{
	width: 0;
	height: 0;
	position: relative;
	left: 7px;
	top: 5px;
	border-top: 10px solid transparent;
	border-right: 10px solid black;
	border-bottom: 10px solid transparent;
	
}

#arrowright
{
	width: 0;
	height: 0;
	position: relative;
	left: 12px;
	top: 5px;
	border-top: 10px solid transparent;
	border-left: 10px solid black;
	border-bottom: 10px solid transparent;
	
}

.topic:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Example";
}

#colorRed{
	color:red!;
}

#colorGreen {
	color: green!;
}

.mt-10 {
	margin-top: 10px;
}

.red{
	color: red;
}

.green{
	color: green;
}