<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="css/session-style.css" type="text/css">
    <script src="js/vue.js" type="text/javascript"></script>
   
    <style>
        span {
            margin-left: 30px;
        }

        div.overFlowhidden{
            overflow: hidden !important;
        }

        .overFlowhidden > div.longLength{
            min-width: 2000000000000000px !important;
            overflow: hidden;
        }

        .innerContainer{
            width: 100%;
            float: left;
        }

    </style>
</head>

<body>
    <div id="app" >
        <div class="container text-center">
            <h1>{{appName}}</h1>
        </div>
        <div class="container">
            <!-- hello msg -->
            <div class="row Jumbotron" >
                <div class="col-md-6">
                    <p>{{name}}</p>
                </div>
            </div>
        </div>
    </div>

     <!-- data binding -->
    <div id="bind">
        <div class="container Jumbotron" v-bind:title="title">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-6" >
                    <label for="" class="label label-default">Dynamic link:</label>
                    <a v-bind:href="'http://' + link" target="_blank">go to Lowes.com</a>
                </div>
                <div class="col-md-6">
                    <label for="" class="label label-default">First Name: </label><span>{{fName}}</span><br>
                    <label for="" class="label label-default">Last Name: </label><span>{{lName}}</span><br>
                    <label for="" class="label label-default">Full Name:</label><span>{{getFullName()}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- event -->
    <div id="event">
        <div class="container Jumbotron">
            <div class="row ">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-3">
                    <button class="btn btn-success" type="button" v-on:click="add">
                        <span class="badge">add</span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success subtract" type="button" @click="counter -= 1">
                        <span class="badge">Subtract</span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger" type="button">
                        Counter<span class="badge">{{counter}}</span>
                    </button>
                </div>
                 <!-- Sometimes we also need to access the original DOM event in an inline statement handler. 
                 You can pass it into a method using the special $event variable: -->
                <div class="col-md-3">
                    <button v-on:click="say('hi surya')">Say hi</button>
                    <button v-on:click="say('what')">Say what</button>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" v-on:click="show=!show">
                        <span v-if="!show">show</span><span v-else>hide</span>
                    </button>
                </div>
                <div type="text" v-if="show" class="alert alert-danger col-md-3">this is alert</div>
            </div>
        </div>
    </div>

     <!-- Event Modifier -->

    <div id="eventModifier">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <!-- the click event's propagation will be stopped -->
                <a v-on:click.stop="stopProp">stop propogation</a>

                <!-- the submit event will no longer reload the page -->
                <form v-on:submit.prevent="onSubmit">
                    <input type="submit" value="submit">
                </form>

                <!-- modifiers can be chained -->
                <a v-on:click.stop.prevent="stopPrevent">stop and prevent default</a>

                <!-- just the modifier -->
                <form v-on:submit.prevent>
                    <input type="submit" value="submit">
                </form>

                <!-- use capture mode when adding the event listener -->
                <!-- i.e. an event targeting an inner element is handled here before being handled by that element -->
                <div v-on:click.capture="doThis">...</div>

                <!-- only trigger handler if event.target is the element itself -->
                <!-- i.e. not from a child element -->
                <div v-on:click.self="doThat">...</div>
            </div>
        </div>
    </div>
    <div id="keyModifier">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-6">

                    <!-- only call `vm.submit()` when the `keyCode` is 13 -->
                    <input type="text" v-on:keyup.13="submit"></br>
                    <span>v-on:keyup.13</span></br>

                    <!-- same as above -->
                    <input type="text" v-on:keyup.enter="submit"></br>
                    <span>v-on:keyup.enter</span></br>

                    <!-- also works for shorthand -->
                    <input type="text" @keyup.delete="submit"></br><span>@keyup.delete</span>
                </div>
            </div>
        </div>
    </div>
    <div id="twoWayDataBinding">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-6">
                    <input v-model="message" placeholder="edit me">
                    <p>Message is: {{ message }}</p>
                    <hr>

                    <div class="bg-warning mt-10">
                        <input type="checkbox" id="checkbox" v-model="checked" value="surya">
                        <label for="checkbox">{{ checked }}</label>
                    </div>
                    
                    <div class="bg-success mt-10">
                        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                        <label for="jack">Jack</label>
                        <input type="checkbox" id="john" value="John" v-model="checkedNames">
                        <label for="john">John</label>
                        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                        <label for="mike">Mike</label>
                        <br>
                        <span>Checked names: {{ checkedNames }}</span>
                    </div>
                    <div class="bg-info mt-10">
                        <input type="radio" id="one" value="One" v-model="picked">
                        <label for="one">One</label>
                        <br>
                        <input type="radio" id="two" value="Two" v-model="picked">
                        <label for="two">Two</label>
                        <br>
                        <span>Picked: {{ picked }}</span>
                    </div>
                    <div class="bg-danger mt-10">
                        <select v-model="selected">
                        <option disabled value="">Please select one</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        </select>
                        <span>Selected: {{ selected }}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="modifier">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-6">
                    <div class="bg-danger mt-10">
                        <input v-model.lazy="message" placeholder="edit me"><span>.lazy</span>
                        <p>Message is: {{ message }}</p>
                    </div>
                   
                    <div class="bg-info mt-10">
                        <input v-model.number="number" placeholder="edit me"><span>.number</span>
                        <p>Number is: {{ number }}</p>
                    </div>
                    
                    <div class="bg-success mt-10">
                        <input v-model.trim="trim" placeholder="edit me"><span>.trim</span>
                        <p>Text is: {{ trim }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div id="computedProperties">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-6">
                    <div class="bg-danger mt-10">
                        Age = {{age}}
                    </div>

                    <div class="bg-info mt-10">
                        <button v-on:click="a++">Add to A</button>
                        <button v-on:click="b++">Add to B</button>
                        <button v-on:click="reset">Reset</button></br>
                        A = {{a}}</br>
                        B = {{b}}</br>
                    </div>

                    <div class="bg-success mt-10">
                        Age + A = {{addToA}}</br>
                        Age + B = {{addToB}}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="conditionals">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{topic}}</span>
                <div class="col-md-6">
                    <!-- v-if , v-else -->
                    <div class="mt-10">
                        <button v-on:click="error = !error">toggle error</button></div><span>v-if and v-else</span>
                        <div type="text" v-if="error" class="alert alert-danger col-md-3">this is error</div>
                        <div type="text" v-else class="alert alert-success col-md-3">No error</div>
                    </div>
                    </br>
                    </br>
                    </br></br>
                    </br>
                    </br>
                   <!-- v-if, v-else-if -->
                    <div class="bg-info mt-10">
                        <button v-on:click="set('A')">Type A</button>
                        <button v-on:click="set('B')">Type B</button>
                        <button v-on:click="set('C')">Type C</button>
                        <button v-on:click="set('D')">Type D</button></br>
                        </br>
                        </br>
                        <span v-if="type === 'A'">
                            A
                        </span>
                        <span v-else-if="type === 'B'">
                            B
                        </span>
                        <span v-else-if="type === 'C'">
                            C
                        </span>
                        <span v-else>
                            Not A/B/C
                        </span>
                    </div>
                    </br>
                    </br>
                    </br>
                    <!-- v-show -->
                    <div class=" mt-10">
                        <button v-on:click="show = !show">toggle show</button></br>
                        </br>
                        </br>
                        <div type="text" v-show="!show" class="alert alert-success col-md-3">this is not hidden</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="listRendering">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{ topic }}</span>
                <div class="col-md-6">
                    <ul>
                        <li v-for="pd in pdList" class="bg-info mt-10">
                            <span>Product Name:</span><span>{{ pd.name }}</span>
                            <span>Product Price:</span><span>{{ pd.price }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="dynamicCSS">
        <div class="container Jumbotron">
            <div class="row">
                <span class="label label-default pull-right">{{ topic }}</span>
                <div class="col-md-6">
                    <button @click="classes.green = !classes.green">change color</button>
                    <div v-bind:class="classes">
                        <span>Vue JS</span>
                    </div>
                </div>  
            </div>
        </div>
    </div>



</body>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<script src="js/app.js" type="text/javascript"></script>


</html>